/*노멀*/
body, ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
.menu-box-1{
  text-align: right;
}

.menu-box-1>ul{
  display: inline-block;
  padding: 0 100px;
}
.menu-box-1>ul>li{
  display:inline-block;
}
.menu-box-1 ul ul {
  display: none;
}